<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   modoosSubway

   Created by 김지현 on 2024/08/03.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
	<dict>
		<key>SEOUL_DATA_API_KEY</key>
		<string>7a65774b486b7975373243536e4366</string>
	</dict>
</plist>
