<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>http://swopenapi.seoul.go.kr/api/subway</string>
	<key>SEOUL_DATA_API_KEY</key>
	<string>7a65774b486b7975373243536e4366</string>
</dict>
</plist>
